.navbar{
    margin-bottom: 4%;
}

.box{
    padding: 8% 8%;
}

.email{
    margin-bottom:15px;
}

.password{
    margin-bottom:15px;
}

.wraper{
    margin-bottom: 4%;
}

.alert{
     margin-top: 15px;
}