
<!DOCTYPE html>
<html lang="en">
<body>
    <title>Academic average calculator - About</title>
    {% include "common/header.html" %}
     <link rel="stylesheet" href="../static/css/about_styles.css">

        <div class="bg-light text-dark wraper">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="../static/assets/about/about_img.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                         height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">About</h1>
                    <p class="lead">Academic average calculator is a site that helps you track your academic status. Manage the courses in an orderly manner and calculate your average.</p>

                </div>
            </div>
        </div>

    {% include "common/footer.html" %}
</body>
</html>