<!DOCTYPE html>
<html lang="en">
<body>

    <title>Academic average calculator - Overall</title>
    {% include "common/header.html" %}
    <link rel="stylesheet" href="../static/css/overall_styles.css">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 ">
                <h1>Overall </h1>
                <h5>Average: {{"{:.2f}".format(overall_avg)}}</h5>
                <h5>Credits: {{"{:.2f}".format(overall_credits)}}</h5>
                <h5>Years: {{office.the_user.num_of_years}}</h5>
                <h5>Number of courses: {{num_of_courses}}</h5>

                <table class="table table-striped table-hover table-light fs-5 border border-3">
                    <thead>
                    <tr>
                        <td class="bg-white">Course</td>
                        <td class="bg-white quantity-box">Credits</td>
                        <td class="bg-white price-box">Grade</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in office.the_user.all_courses: %}
                    <tr>
                        <td class="course-name">{{course.name}}</td>
                        <td class="credits-box">{{course.credits}}</td>
                        <td class="avg-box">{{course.grade}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {% include "common/footer.html" %}
</body>
</html>