
<!DOCTYPE html>
<html lang="en">
<body>

    <title>Academic average calculator - Sign In</title>
    {% include "common/header.html" %}
    <link rel="stylesheet" href="../static/css/sign in_styles.css">
    <div class="container-fluid wraper">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-10 bg-light rounded-4">
          <main class="form-signin w-100 m-auto">
            <form class="box"  action="{{url_for('sign_in')}}" method="post">
              <h1>Academic average calculator</h1>
              <h3 class="h3 mb-3 fw-normal">Please Sign In</h3>

              <div class="form-floating">
                <input type="email" class="form-control email"  placeholder="name@example.com" name="email">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control password"  placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
              </div>

              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
              {% if msg != "": %}
                <div class="alert alert-danger" role="alert">
                    <span>{{msg}}</span>
                </div>
              {% endif %}
            </form>
          </main>
        </div>
      </div>
    </div>
    {% include "common/footer.html" %}
</body>
</html>